* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#rect1 {
  position: absolute;
  width: 350px;
  height: 600px;
  margin-top: 293px;
  margin-left: 190px;
  border-radius: 20px;
  background: #eaeaea;
  border: 2px solid #D0D0D0 ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 1px 1px 5px #504c4c;

}

#card {
  position: absolute;
  width: 333px;
  height: 263px;
  background-image: url("./img.jpg");
  border-radius: 13px;
  margin-top: 12px;
  margin-left: 9px;
  margin-right: 8px;
  margin-bottom: 325px;
  background-size: cover;
}